<div class="mb-4 d-flex justify-content-center align-items-center">

<h1>New list</h1>

</div>

<div>
<%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Save list", class: "btn btn-primary" %>
<% end %>
</div>

<div>
  <%= link_to "Back to lists", lists_path %>
</div>
