<div class="mb-4 d-flex justify-content-center align-items-center">
<p><strong>Lists</strong></p>
<h2><%= @list.name %></h2>
<p><%= @list.bookmark</p>%>
<p><%= @list.movie %></p>
<p><%= @list.review %></p>
</div>
