<div class="mb-4 d-flex justify-content-center align-items-center">

<h1>My bookmarks</h1>
</div>

<div class="mb-4 d-flex justify-content-center align-items-center">
<p>Your favourite movies in one place!</p>
</div>
